.fe-68b0c77ef4929d19fb7c0172 {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(84,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
  overflow-x: hidden;
  overflow-x: clip;
}

@media (min-width: 768px) {
  .background-width--inset .fe-68b0c77ef4929d19fb7c0172 {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-68b0c77ef4929d19fb7c0172 {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(46,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-yui_3_17_2_1_1756471971969_4246 {
    grid-area: 1/1/7/11;
    z-index: 9;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1756471971969_4246 .sqs-block {
    justify-content: center;
  }

  .fe-block-yui_3_17_2_1_1756471971969_4246 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1756471971969_4246 {
      grid-area: 1/11/7/17;
      z-index: 9;

      
        
      

      
    }

    .fe-block-yui_3_17_2_1_1756471971969_4246 .sqs-block {
      justify-content: center;
    }

    .fe-block-yui_3_17_2_1_1756471971969_4246 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-yui_3_17_2_1_1756471971969_7821 {
    grid-area: 7/2/9/6;
    z-index: 10;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1756471971969_7821 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-yui_3_17_2_1_1756471971969_7821 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1756471971969_7821 {
      grid-area: 8/6/10/10;
      z-index: 10;

      
        
      

      
    }

    .fe-block-yui_3_17_2_1_1756471971969_7821 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-yui_3_17_2_1_1756471971969_7821 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-3457f3889b9d4071b9e0 {
    grid-area: 9/4/12/10;
    z-index: 11;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-3457f3889b9d4071b9e0 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-3457f3889b9d4071b9e0 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-3457f3889b9d4071b9e0 {
      grid-area: 8/14/14/25;
      z-index: 11;

      
        
      

      
    }

    .fe-block-3457f3889b9d4071b9e0 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-3457f3889b9d4071b9e0 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-a9a9387ac63dfb17ddf4 {
    grid-area: 12/2/21/8;
    z-index: 1;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-a9a9387ac63dfb17ddf4 .sqs-block {
    justify-content: center;
  }

  .fe-block-a9a9387ac63dfb17ddf4 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-a9a9387ac63dfb17ddf4 {
      grid-area: 32/2/46/10;
      z-index: 1;

      

      
    }

    .fe-block-a9a9387ac63dfb17ddf4 .sqs-block {
      justify-content: center;
    }

    .fe-block-a9a9387ac63dfb17ddf4 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-654880e37dc691cb7bec {
    grid-area: 24/2/32/10;
    z-index: 13;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-654880e37dc691cb7bec .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-654880e37dc691cb7bec .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-654880e37dc691cb7bec {
      grid-area: 14/14/19/25;
      z-index: 12;

      
        
      

      
    }

    .fe-block-654880e37dc691cb7bec .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-654880e37dc691cb7bec .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-9c392bd923444d87a0c0 {
    grid-area: 21/3/25/11;
    z-index: 12;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-9c392bd923444d87a0c0 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-9c392bd923444d87a0c0 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-9c392bd923444d87a0c0 {
      grid-area: 14/6/19/13;
      z-index: 11;

      
        
      

      
    }

    .fe-block-9c392bd923444d87a0c0 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-9c392bd923444d87a0c0 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-590629e1f12b55db0202 {
    grid-area: 49/2/74/10;
    z-index: 4;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-590629e1f12b55db0202 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-590629e1f12b55db0202 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-590629e1f12b55db0202 {
      grid-area: 21/11/32/25;
      z-index: 6;

      
        
      

      
    }

    .fe-block-590629e1f12b55db0202 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-590629e1f12b55db0202 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-074fa985f5df4aa3c083 {
    grid-area: 34/1/51/11;
    z-index: 2;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-074fa985f5df4aa3c083 .sqs-block {
    justify-content: center;
  }

  .fe-block-074fa985f5df4aa3c083 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-074fa985f5df4aa3c083 {
      grid-area: 1/2/19/26;
      z-index: 4;

      
        
      

      
    }

    .fe-block-074fa985f5df4aa3c083 .sqs-block {
      justify-content: center;
    }

    .fe-block-074fa985f5df4aa3c083 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-bea42f4be1ab07a79bcc {
    grid-area: 32/4/39/11;
    z-index: 7;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-bea42f4be1ab07a79bcc .sqs-block {
    justify-content: center;
  }

  .fe-block-bea42f4be1ab07a79bcc .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-bea42f4be1ab07a79bcc {
      grid-area: 21/3/28/9;
      z-index: 3;

      
        
      

      
    }

    .fe-block-bea42f4be1ab07a79bcc .sqs-block {
      justify-content: center;
    }

    .fe-block-bea42f4be1ab07a79bcc .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-8b9e9550e838bdc1d79b {
    grid-area: 34/2/38/10;
    z-index: 8;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-8b9e9550e838bdc1d79b .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-8b9e9550e838bdc1d79b .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-8b9e9550e838bdc1d79b {
      grid-area: 21/4/25/11;
      z-index: 5;

      
        
      

      
    }

    .fe-block-8b9e9550e838bdc1d79b .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-8b9e9550e838bdc1d79b .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-a59f3d4b1289f17a3887 {
    grid-area: 39/1/49/11;
    z-index: 3;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-a59f3d4b1289f17a3887 .sqs-block {
    justify-content: center;
  }

  .fe-block-a59f3d4b1289f17a3887 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-a59f3d4b1289f17a3887 {
      grid-area: 32/18/46/24;
      z-index: 2;

      

      
    }

    .fe-block-a59f3d4b1289f17a3887 .sqs-block {
      justify-content: center;
    }

    .fe-block-a59f3d4b1289f17a3887 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-7bff46b3554eeafd2677 {
    grid-area: 72/2/79/10;
    z-index: 6;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-7bff46b3554eeafd2677 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-7bff46b3554eeafd2677 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-7bff46b3554eeafd2677 {
      grid-area: 32/10/39/18;
      z-index: 8;

      
        
      

      
    }

    .fe-block-7bff46b3554eeafd2677 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-7bff46b3554eeafd2677 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-a9b22040b2af124486ac {
    grid-area: 78/2/85/10;
    z-index: 5;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-a9b22040b2af124486ac .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-a9b22040b2af124486ac .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-a9b22040b2af124486ac {
      grid-area: 39/10/47/18;
      z-index: 7;

      
        
      

      
    }

    .fe-block-a9b22040b2af124486ac .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-a9b22040b2af124486ac .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

#section-7c0173 { color: rgb(255, 255, 255); }
#section-7c0173 > .section-bg { background-color: rgb(0, 0, 0); }
@media (min-width: 768px) {
    #section-7c0173 { min-height: 594px; padding-top: 148px; padding-bottom: 95px; }
}
@media (max-width: 767px) {
    #section-7c0173 { min-height: 557px; padding-top: 179px; padding-bottom: 56px; }
}

@media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1756471971969_7821 .block-text h2 { font-size: calc(1rem + 3.5972vw); line-height: 0.969; letter-spacing: -0.0400em; font-weight: 700; }
}
@media (max-width: 767px) {
    .fe-block-yui_3_17_2_1_1756471971969_7821 .block-text h2 { font-size: 46.4px; line-height: 0.968; letter-spacing: -0.0400em; font-weight: 700; }
}

@media (min-width: 768px) {
    .fe-block-3457f3889b9d4071b9e0 .block-text h3 { font-size: calc(1rem + 0.9583vw); line-height: 1.066; letter-spacing: -0.0400em; font-weight: 700; text-align: right; }
}
@media (max-width: 767px) {
    .fe-block-3457f3889b9d4071b9e0 .block-text h3 { font-size: 24.1px; line-height: 1.065; letter-spacing: -0.0400em; font-weight: 700; text-align: right; }
}

@media (min-width: 768px) {
    .fe-block-654880e37dc691cb7bec .block-text p { font-size: calc(1rem + 0.5972vw); line-height: 1.302; letter-spacing: -0.0130em; font-weight: 700; }
}
@media (max-width: 767px) {
    .fe-block-654880e37dc691cb7bec .block-text p { font-size: 21.1px; line-height: 1.298; letter-spacing: -0.0152em; font-weight: 700; }
}

@media (min-width: 768px) {
    .fe-block-9c392bd923444d87a0c0 .block-text h1 { font-size: calc(1rem + 4.3194vw); line-height: 0.942; letter-spacing: -0.0400em; font-weight: 700; }
}
@media (max-width: 767px) {
    .fe-block-9c392bd923444d87a0c0 .block-text h1 { font-size: 52.5px; line-height: 0.941; letter-spacing: -0.0400em; font-weight: 700; }
}

@media (min-width: 768px) {
    .fe-block-590629e1f12b55db0202 .block-text p { font-size: calc(1rem + 0.5972vw); line-height: 1.302; letter-spacing: -0.0130em; font-weight: 700; text-align: center; }
}
@media (max-width: 767px) {
    .fe-block-590629e1f12b55db0202 .block-text p { font-size: 21.1px; line-height: 1.298; letter-spacing: -0.0152em; font-weight: 700; text-align: center; }
}

@media (min-width: 768px) {
    .fe-block-8b9e9550e838bdc1d79b .block-text h1 { font-size: calc(1rem + 4.3194vw); line-height: 0.942; letter-spacing: -0.0400em; font-weight: 700; text-align: right; }
}
@media (max-width: 767px) {
    .fe-block-8b9e9550e838bdc1d79b .block-text h1 { font-size: 52.5px; line-height: 0.941; letter-spacing: -0.0400em; font-weight: 700; text-align: right; }
}

.fe-68af0da2a3665d2f6d6b61ef {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 0.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (0.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(25,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 0.0px;
  column-gap: 0.0px;
  overflow-x: hidden;
  overflow-x: clip;
}

@media (min-width: 768px) {
  .background-width--inset .fe-68af0da2a3665d2f6d6b61ef {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-68af0da2a3665d2f6d6b61ef {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 0.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (0.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(7,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-9b793833dc8d3cdf5b7f {
    grid-area: 2/2/6/8;
    z-index: 4;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-9b793833dc8d3cdf5b7f .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-9b793833dc8d3cdf5b7f .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-9b793833dc8d3cdf5b7f {
      grid-area: 3/2/7/9;
      z-index: 4;

      
        
      

      
    }

    .fe-block-9b793833dc8d3cdf5b7f .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-9b793833dc8d3cdf5b7f .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-2856b31cea9f7e0b4b19 {
    grid-area: 7/2/12/6;
    z-index: 1;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-2856b31cea9f7e0b4b19 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-2856b31cea9f7e0b4b19 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-2856b31cea9f7e0b4b19 {
      grid-area: 3/11/6/14;
      z-index: 1;

      
        
      

      
    }

    .fe-block-2856b31cea9f7e0b4b19 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-2856b31cea9f7e0b4b19 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-8ef105ed6a89b9861c49 {
    grid-area: 7/7/12/11;
    z-index: 2;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-8ef105ed6a89b9861c49 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-8ef105ed6a89b9861c49 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-8ef105ed6a89b9861c49 {
      grid-area: 3/14/6/16;
      z-index: 2;

      
        
      

      
    }

    .fe-block-8ef105ed6a89b9861c49 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-8ef105ed6a89b9861c49 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-ca2a7e4d76b92239f263 {
    grid-area: 15/2/19/10;
    z-index: 6;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-ca2a7e4d76b92239f263 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-ca2a7e4d76b92239f263 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-ca2a7e4d76b92239f263 {
      grid-area: 3/20/6/24;
      z-index: 6;

      
        
      

      
    }

    .fe-block-ca2a7e4d76b92239f263 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-ca2a7e4d76b92239f263 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-yui_3_17_2_1_1757232657469_2707 {
    grid-area: 13/2/16/10;
    z-index: 5;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1757232657469_2707 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-yui_3_17_2_1_1757232657469_2707 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1757232657469_2707 {
      grid-area: 2/20/4/23;
      z-index: 5;

      
        
      

      
    }

    .fe-block-yui_3_17_2_1_1757232657469_2707 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-yui_3_17_2_1_1757232657469_2707 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-ef1cf6872b544ca2c6d3 {
    grid-area: 9/2/14/6;
    z-index: 3;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-ef1cf6872b544ca2c6d3 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-ef1cf6872b544ca2c6d3 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-ef1cf6872b544ca2c6d3 {
      grid-area: 3/17/6/19;
      z-index: 3;

      
        
      

      
    }

    .fe-block-ef1cf6872b544ca2c6d3 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-ef1cf6872b544ca2c6d3 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-yui_3_17_2_1_1757572257925_21701 {
    grid-area: 20/2/25/10;
    z-index: 7;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1757572257925_21701 .sqs-block {
    justify-content: center;
  }

  .fe-block-yui_3_17_2_1_1757572257925_21701 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1757572257925_21701 {
      grid-area: 6/12/8/18;
      z-index: 7;

      
        
      

      
    }

    .fe-block-yui_3_17_2_1_1757572257925_21701 .sqs-block {
      justify-content: center;
    }

    .fe-block-yui_3_17_2_1_1757572257925_21701 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

#section-6b61f0 { color: rgb(0, 0, 0); }
#section-6b61f0 > .section-bg { background-color: rgb(255, 255, 255); }

@media (min-width: 768px) {
    .fe-block-9b793833dc8d3cdf5b7f { container-type: inline-size; }
    .fe-block-9b793833dc8d3cdf5b7f .block-text h2 { font-size: 23.52cqw; line-height: 1.000; letter-spacing: -0.0400em; font-weight: 700; }
}
@media (max-width: 767px) {
    .fe-block-9b793833dc8d3cdf5b7f { container-type: inline-size; }
    .fe-block-9b793833dc8d3cdf5b7f .block-text h2 { font-size: 23.54cqw; line-height: 1.000; letter-spacing: -0.0400em; font-weight: 700; }
}

@media (min-width: 768px) {
    .fe-block-2856b31cea9f7e0b4b19 .block-text p { font-size: 16px; line-height: 1.300; letter-spacing: -0.0200em; font-weight: 700; }
}
@media (max-width: 767px) {
    .fe-block-2856b31cea9f7e0b4b19 .block-text p { font-size: 16px; line-height: 1.300; letter-spacing: -0.0200em; font-weight: 700; }
}

@media (min-width: 768px) {
    .fe-block-8ef105ed6a89b9861c49 .block-text p { font-size: 16px; line-height: 1.300; letter-spacing: -0.0200em; font-weight: 700; }
}
@media (max-width: 767px) {
    .fe-block-8ef105ed6a89b9861c49 .block-text p { font-size: 16px; line-height: 1.300; letter-spacing: -0.0200em; font-weight: 700; }
}

@media (min-width: 768px) {
    .fe-block-ca2a7e4d76b92239f263 .block-text p { font-size: 16px; line-height: 1.300; letter-spacing: -0.0200em; font-weight: 700; }
}
@media (max-width: 767px) {
    .fe-block-ca2a7e4d76b92239f263 .block-text p { font-size: 16px; line-height: 1.300; letter-spacing: -0.0200em; font-weight: 700; }
}

@media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1757232657469_2707 .block-text p { font-size: calc(1rem + 0.5972vw); line-height: 1.302; letter-spacing: -0.0130em; font-weight: 700; }
}
@media (max-width: 767px) {
    .fe-block-yui_3_17_2_1_1757232657469_2707 .block-text p { font-size: 21.1px; line-height: 1.298; letter-spacing: -0.0152em; font-weight: 700; }
}

@media (min-width: 768px) {
    .fe-block-ef1cf6872b544ca2c6d3 .block-text p { font-size: 16px; line-height: 1.300; letter-spacing: -0.0200em; font-weight: 700; }
}
@media (max-width: 767px) {
    .fe-block-ef1cf6872b544ca2c6d3 .block-text p { font-size: 16px; line-height: 1.300; letter-spacing: -0.0200em; font-weight: 700; }
}
